extends layout 

block content 

    h1 About the Author
    
    img(src='/images/author.jpg' alt='Puzzle pieces in a jumble' style='width:45%')

    p This project was created for the Mobile Health in COVID-19 course at Portland State University during spring quarter 2021. 
    p The author, Brita Budnick, enjoyed blending their passion for research and computer science to create this project.
    p They hope it can serve as a resource for learning to discern credible resources from biased ones and that it will serve to generate conversation. 