extends layout

block content

    iframe(width="300" height="600" src='https://webchat.botframework.com/embed/EmbeddedHelperBot?s=fR1512dtdqM.-E6ikebpnHbv6OOQJGVRqsNX4muodwoNFexpSzucGeE'  style='min-width: 400px; width: 100%; min-height: 500px;')