extends layout

block content

    iframe(width="300" height="600" src='https://webchat.botframework.com/embed/TheBotForCovid?s=PCB5jsvkcYE.Xf5iaMX8RPvkcCU5EElc5_FpQBibyynsBIiQnAMbl6I'  style='min-width: 400px; width: 100%; min-height: 500px;')