extends layout

block content

    <iframe src='https://webchat.botframework.com/embed/SixThirtyOneTest?s=jdkmjJqzUmY.4mCnBeu0GNXoR6sohracMSCHWwY1_q5G2iQuSPGqECE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>