extends layout

block content

  .card.text-center
    .card-header
      ul.nav.nav-tabs.card-header-tabs
        li.nav-item
          a.nav-link(href='/repgame') Play the game of Reputable Resources! 
        li.nav-item
          a.nav-link(href='/linkdir') Reputable resources, gathered for you 
        li.nav-item
          a.nav-link(href='/conversation') Difficult conversations: how to have them
    .card-body
      h1.card-title= title
      p.card-text A resource to help spread understanding and compassion   

    section.container.border.rounded.bg-light.w-50.mx-auto.mt-5.p-3
        center
            p COVID-19 Keywords
                table.table-striped
                    thead
                        tr 
                            th Keyword
                            th Definition
                            th Appears in: 
                    tbody
                        tr 
                            td test 
                            td test 
                            td test