extends layout

block content

  .card.text-center
    .card-header
      ul.nav.nav-tabs.card-header-tabs
        li.nav-item
          a.nav-link(href='/repgame') Play the game of Reputable Resources! 
        li.nav-item
          a.nav-link(href='/linkdir') Reputable resources, gathered for you 
        li.nav-item
          a.nav-link(href='/conversation') Difficult conversations: how to have them
    .card-body
      h1.card-title= title
      p.card-text A resource to help spread understanding and compassion   

    section.container.border.rounded.bg-light.w-50.mx-auto.mt-5.p-3
        center
            p COVID-19 Keywords
                table.table-striped
                    thead
                        tr 
                            th Keyword
                            th Definition
                            th Appears in: 
                    tbody
                        tr 
                            td test 
                            td test 
                            td test

script(type='text/javascript' src='https://ssl.gstatic.com/trends_nrtr/2578_RC01/embed_loader.js')
script(type='text/javascript').
  trends.embed.renderWidget("US_cu_4Rjdh3ABAABMHM_en", "fe_list_ba0527a8-18ef-485a-b157-180484f9c3b3", {"guestPath":"https://trends.google.com:443/trends/embed/"});

head
  title Landing bot with BotEngine.ai
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
nav Landing bot with BotEngine.ai
header
section
  .left
    iframe(src='widget.html' width='100%' height='550' border='0')
  .right
    div
      p
      p
      p
      p
      p
      p
    div
      p
      p
      p
      p
      p
      p
    div
      p
      p
      p
      p
      p
      p
    div
      p
      p
      p
      p
      p
      p
