extends layout
link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

block content
  div
      div
        nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
                span.sr-only (current)
            li
              a(href='/repgame') Play Reputable Resources: The Game
            li
              a(href='/papernope') Academic Paper? Or Not?
            li
              a(href='/linkdir') Reputable Resources, Gathered For You  
            li
              a(href='/conversation') Quick Guide to Tough Talks
              li  
                a(href='/about') About
        br
        .jumbotron
          center
            h1 Resources to get you started
            p A table of useful information 
        br
  div
   table.table
     thead.thead-dark 
     tbody
       tr 
           td Who counts as an expert? 
           td An "expert" is someone who has dedicated their life to the study of a particular discipline. Academic credentials depend on the type of degree and the discipline the degree is in. The following is a link to a group of experts in fields that relate to COVID who are available for interview. 
           td 
                a(href='https://www.rti.org/covid-19-media-experts' target='_blank') COVID Experts
        tr
            td History of vaccines 
            td mRNA vaccines have been used for decades. Explore this resource from Nature.com that describes their development. 
            td 
                a(href='https://www.nature.com/articles/nrd.2017.243' target='_blank') Nature.com: mRNA Vaccine Overview
        tr
            td Types of COVID vaccines
            td The CDC has outlined the differences between each COVID vaccine developed by different companies around the world. 
            td 
                a(href='https://www.cdc.gov/coronavirus/2019-ncov/vaccines/different-vaccines.html' target='_blank') CDC.gov: Different Vaccines
        tr
            td Information on Face Masks 
            td From Nature.com, an analysis of the data around wearing a mask and the spread of COVID. 
            td 
                a(href='https://www.nature.com/articles/d41586-020-02801-8' target='_blank') Nature.com: Face masks 
        tr
            td High risk groups 
            td A great resource from the government of Utah, this website lists who is in a high risk group and why. 
            td 
                a(href='https://coronavirus.utah.gov/protecting-high-risk-individuals/' target='_blank') High risk individuals
        tr
            td Does a higher population of vaccinated people means a slower spread of the virus?
            td Tracking the spread of the virus after a percentage of the population has been vaccinated can be difficult. 
            td 
                a(href='https://www.nature.com/articles/d41586-021-00450-z' target='_blank') Nature.com: Difficult to measure wider impact of vaccine on spread of COVID
  center 
    h2 This is a trendline that illustrates the number of people who have received the COVID vaccine. 
    h2 It is from  
      a(href='https://ourworldindata.org/' target='_blank') 'Our World in Data'

    iframe(src='https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&pickerSort=desc&pickerMetric=total_vaccinations&Metric=People+vaccinated&Interval=Cumulative&Relative+to+Population=true&Align+outbreaks=false&country=~OWID_WRL&hideControls=true' loading='lazy' style='width: 90%; height: 600px; border: 5px none;')

   
