extends layout

block content
 
    section.container.border.rounded.bg-light.w-50.mx-auto.mt-5.p-3
        center
            h1= title
            p COVID-19 Resources 
                table.table-striped
                    thead
                        tr 
                            th Title of Resource
                            th Type of Resource
                            th Source 
                            th Link 
                    tbody
                        tr 
                            td test 
                            td test 
                            td test
                            td test