extends layout

block content
  div
        div
          nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
            ul.nav.navbar-nav
              li.active
                a(href='/') Home
                  span.sr-only (current)
              li
                a(href='/repgame') Play the game of Reputable Resources!
              li
                a(href='/papernope') Academic paper? Or not?
              li
                a(href='/linkdir') Reputable resources, gathered for you 
              li
                a(href='/conversation') Difficult conversations: a quick guide
        br

    h1 Is this academic paper reputable? Or not?

        img(src='/images/p1.png' alt='The first page of a gibberish paper posing as an academic paper' style='width:45%')

        h4 This link will open in a new tab:
        h2 Check out 
            a(href='https://unisciencepub.com/storage/2021/03/Idle-Chit-Chat-Neuroprotective-and-Immunomodulatory-Effects-on-Coronavirus.pdf' target='_blank') Idle Chit-Chat: Neuroprotective and Immunomodulatory Effects on Coronavirus


        
        img(src='/images/p2.png' alt='The last page of a gibberish paper posing as an academic paper' style='width:45%')

        p This paper was flagged by the "Problematic Paper Screener," a project by two French 
        p computer scientists who are finding academic papers that were generated to meet publishers' criteria but are actually gibberish. 

        p There are a few obvious problems with this paper and a few not-so-obvious ones (as evidenced by the fact that this paper was, in fact, published successfully). 

        p Can you click through and find all the problems? 

        p Try navigating to the search bar of the Problematic Paper Screener application and searching for a keyword! 

            a(href='https://dbrech.irit.fr/pls/apex/f?p=9999:3:22155714362901::NO:::' target='_blank') Problematic Paper Screener

        a.nav-link(href='/') Home Page