extends layout
link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

block content
  div
      div
        nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
                span.sr-only (current)
            li
              a(href='/repgame') Play Reputable Resources: The Game
            li
              a(href='/papernope') Academic Paper? Or Not?
            li
              a(href='/linkdir') Reputable Resources, Gathered For You  
            li
              a(href='/conversation') Quick Guide to Tough Talks
              li  
                a(href='/about') About
        br
        .jumbotron
          center
            h1 What is research?
            h2 The process of conducting research can be time-consuming and confusing. 
            p This is a quick primer on how to conduct research online
        br

      center 
        h3 It can be difficult to discern whether or not a resource is credible. Thankfully there are a few red flags to keep an eye out for that indicate if a resource is not credible. There are also green flags that can mean it’s appropriate to trust a resource. 
      br

  h3 Some things to keep in mind before playing the Resource Credibility game include: 

  ul 
    h2 Accuracy 
    ul Does this source validate information that can be found elsewhere, from other sources that are credible? Remember that jargon, or the use of technical language, does not necessarily mean the source is credible.
    h2 Authority
    ul Check the URL of the website: does it end in .gov, .org, .net, or .edu? Some of those endings can influence the perspective of the information the website hosts. 
    ul Does this source cite other reputable sources?
    h2 Currency 
    ul How recent is the information hosted on this site? 
    ul Since there are so many innovations surrounding COVID-19, check that the source is dated within the last few months to be sure they are hosting the most up-to-date information. 
    h2 Coverage 
    ul Does the source offer information that is relevant to what you’re looking for? 

  br
  h3 Adapted from the Technical College of the Lowcountry 
    a(href='https://libanswers.tcl.edu/faq/6286' target='_blank') website

  br
  h3 Ready to test your knowledge of what is or is not a credible source? 
  h3
    a.nav-link(href='/repgameplay') Play the game of Reputable Resources!
  br

