extends layout 

block content 

    h1 Let's go! 

    p Navigate to each of these websites and take a look at the information they host. 
    p Once you've noticed a few things, come back here and test your understanding what that resource provides!

    h2 Check out 
        a(href='https://www.thelancet.com/coronavirus' target='_blank') The Lancet

    h2 Great! 

    p Time to quiz your knowledge: 

    ul Who funds The Lancet? (Authority)
    li A university 
    li A private company 
    li An individual 

    ul What type of resource is The Lancet? (Currency)
    li A journal 
    li A non-profit organization 
    li A private company 

    ul Are articles published by The Lancet peer reviewed? (Accuracy)
    li Yes 
    li No 

    ul Does The Lancet offer information about many topics or just a few? (Coverage)
    li Many 
    li A few 

 

