extends layout

block content

  h1 What is research?
  img(src='/images/puzzle.jpg' alt='Puzzle pieces in a jumble' style='width:45%')

  h2 The process of conducting research can be time-consuming and confusing. 
  p A quick primer on how to conduct research online
  p 
  p It can be difficult to discern whether or not a resource is credible. Thankfully there are a few red flags to keep an eye out for that indicate if a resource is not credible. There are also green flags that can mean it’s appropriate to trust a resource. 
  p Some things to keep in mind before playing the Resource Credibility game include: 

  ul 
    h2 Accuracy 
    li Does this source validate information that can be found elsewhere, from other sources that are credible? Remember that jargon, or the use of technical language, does not necessarily mean the source is credible.
    h2 Authority
    li Check the URL of the website: does it end in .gov, .org, .net, or .edu? Some of those endings can influence the perspective of the information the website hosts. 
    li Does this source cite other reputable sources?
    h2 Currency 
    li How recent is the information hosted on this site? 
    li Since there are so many innovations surrounding COVID-19, check that the source is dated within the last few months to be sure they are hosting the most up-to-date information. 
    h2 Coverage 
    li Does the source offer information that is relevant to what you’re looking for? 

    a(href='https://libanswers.tcl.edu/faq/6286') Adapted from the Technical College of the Lowcountry Library website

    p Ready to test your knowledge of what is or is not a credible source? 

    p
      a.nav-link(href='/repgameplay') Play the game of Reputable Resources!

