extends layout 
link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

block content 
  div
      div
        nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
                span.sr-only (current)
            li
              a(href='/repgame') Play Reputable Resources: The Game
            li
              a(href='/papernope') Academic Paper? Or Not?
            li
              a(href='/linkdir') Reputable Resources, Gathered For You  
            li
              a(href='/conversation') Quick Guide to Tough Talks
              li  
                a(href='/about') About
        br
        .jumbotron
          center
            h1 Welcome to the Game of Reputable Resources!
        br

    h4 This is the first of 4 levels. 
    h4 At each level, you'll navigate to a website in a different tab, 
    h4 Click through the site and keep these standards in mind: 

    center
        h3
            ul Accuracy 
        h3
            ul Authority 
        h3
            ul Currency 
        h3
            ul Coverage 

    br 

    h4 Once you've noticed a few things, come back here and test your understanding of what that resource provides!

    center
        h2 Check out 
            a(href='https://www.thelancet.com/coronavirus' target='_blank') The Lancet
        p (This link will open in a new tab)
        img(src='/images/bubbles.jpg' alt='Membranes under a microscope' style='width:15%' class='img-thumbnail')

    h2 Great! 

    h4 Time to quiz your knowledge: 

    div(style='transform: scale(0.65); position: relative; top: -100px;')
        h3 Who funds The Lancet? (Authority)
        p Choose 1 answer
        hr
        #block-11(style='padding: 10px;')
            label(for='option-11' style=' padding: 5px; font-size: 2.5rem;')
                input#option-11(type='radio' name='option' value='A university' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A university
            span#result-11
        hr
        #block-12(style='padding: 10px;')
            label(for='option-12' style=' padding: 5px; font-size: 2.5rem;')
                input#option-12(type='radio' name='option' value='A private company' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A private company 
            span#result-12
        hr
        #block-13(style='padding: 10px;')
            label(for='option-13' style=' padding: 5px; font-size: 2.5rem;')
                input#option-13(type='radio' name='option' value='An individual' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         An individual 
            span#result-13
        hr
        #block-14(style='padding: 10px;')
            label(for='option-14' style=' padding: 5px; font-size: 2.5rem;')
                input#option-14(type='radio' name='option' value='A non-profit organization' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A non-profit organization 
            span#result-14
        hr
        button(type='button' onclick='displayAnswer1()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;') Submit
    a#showanswer1
    script(type='text/javascript').
        function displayAnswer1() {
            if (document.getElementById('option-11').checked) {
            document.getElementById('block-11').style.border = '3px solid red'
            document.getElementById('result-11').style.color = 'red'
            document.getElementById('result-11').innerHTML = 'Incorrect!'
            } 
            if (document.getElementById('option-12').checked) {
            document.getElementById('block-12').style.border = '3px solid red'
            document.getElementById('result-12').style.color = 'red'
            document.getElementById('result-12').innerHTML = 'Incorrect!'
            showCorrectAnswer1()
                }
            if (document.getElementById('option-13').checked) {
            document.getElementById('block-13').style.border = '3px solid red'
            document.getElementById('result-13').style.color = 'red'
            document.getElementById('result-13').innerHTML = 'Incorrect!'
            showCorrectAnswer1()	
            }
            if (document.getElementById('option-14').checked) {
            document.getElementById('block-14').style.border = '3px solid limegreen'
            document.getElementById('result-14').style.color = 'limegreen'
            document.getElementById('result-14').innerHTML = 'Correct!'
            showCorrectAnswer1()	
            }
        }
        // the functon displays the link to the correct answer
        function showCorrectAnswer1() {
            let showAnswer1 = document.createElement('p')
            showAnswer1.innerHTML = 'Show Correct Answer'
            showAnswer1.style.position = 'relative'
            showAnswer1.style.top = '-180px'
            showAnswer1.style.fontSize = '1.75rem'
                document.getElementById('showanswer1').appendChild(showAnswer1)
                showAnswer1.addEventListener('click', () => {
                document.getElementById('block-14').style.border = '3px solid limegreen'
            document.getElementById('result-14').style.color = 'limegreen'
            document.getElementById('result-14').innerHTML = 'Correct!'
            document.getElementById('showanswer1').removeChild(showAnswer1)    
            })
            }
    center 
        h4 Ready to level up and test your knowledge further? 

    center
        h2 Check out some articles about COVID-19 from 
            a(href='https://www.nature.com/search?q=coronavirus&journal=' target='_blank') Nature.com 
        p (This link will open in a new tab.)
        img(src='/images/mesh.jpg' alt='Membranes under a microscope' style='width:30%' class='img-thumbnail')

    h2 Great! 

    h4 Time to quiz your knowledge: 

    div(style='transform: scale(0.65); position: relative; top: -100px;')
        h3 How recently were these articles published? (Currency)
        p Choose 1 answer
        hr
        #block-21(style='padding: 10px;')
            label(for='option-21' style=' padding: 5px; font-size: 2.5rem;')
                input#option-21(type='radio' name='option' value='A few weeks ago' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A few weeks ago 
            span#result-21
        hr
        #block-22(style='padding: 10px;')
            label(for='option-22' style=' padding: 5px; font-size: 2.5rem;')
                input#option-22(type='radio' name='option' value='A few days ago' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A few days ago 
            span#result-22
        hr
        #block-23(style='padding: 10px;')
            label(for='option-23' style=' padding: 5px; font-size: 2.5rem;')
                input#option-23(type='radio' name='option' value='A year ago' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A year ago 
            span#result-23
        hr
        #block-24(style='padding: 10px;')
            label(for='option-24' style=' padding: 5px; font-size: 2.5rem;')
                input#option-24(type='radio' name='option' value='A few years ago' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         A few years ago 
            span#result-24
        hr
        button(type='button' onclick='displayAnswer2()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;') Submit
    a#showanswer2
    script(type='text/javascript').
        function displayAnswer2() {
            if (document.getElementById('option-21').checked) {
            document.getElementById('block-21').style.border = '3px solid red'
            document.getElementById('result-21').style.color = 'red'
            document.getElementById('result-21').innerHTML = 'Incorrect!'
            } 
            if (document.getElementById('option-22').checked) {
            document.getElementById('block-22').style.border = '3px solid limegreen'
            document.getElementById('result-22').style.color = 'limegreen'
            document.getElementById('result-22').innerHTML = 'Correct!'
            showCorrectAnswer2()
                }
            if (document.getElementById('option-23').checked) {
            document.getElementById('block-23').style.border = '3px solid red'
            document.getElementById('result-23').style.color = 'red'
            document.getElementById('result-23').innerHTML = 'Incorrect!'
            showCorrectAnswer2()	
            }
            if (document.getElementById('option-24').checked) {
            document.getElementById('block-24').style.border = '3px solid red'
            document.getElementById('result-24').style.color = 'red'
            document.getElementById('result-24').innerHTML = 'Incorrect!'
            showCorrectAnswer2()	
            }
        }
        // the functon displays the link to the correct answer
        function showCorrectAnswer2() {
            let showAnswer2 = document.createElement('p')
            showAnswer2.innerHTML = 'Show Correct Answer'
            showAnswer2.style.position = 'relative'
            showAnswer2.style.top = '-180px'
            showAnswer2.style.fontSize = '1.75rem'
                document.getElementById('showanswer1').appendChild(showAnswer2)
                showAnswer2.addEventListener('click', () => {
                document.getElementById('block-22').style.border = '3px solid limegreen'
            document.getElementById('result-22').style.color = 'limegreen'
            document.getElementById('result-22').innerHTML = 'Correct!'
            document.getElementById('showanswer2').removeChild(showAnswer2)    
            })
            }

    h2 Getting the hang of it? 

    center
        h4 Try another one! 
        h2 Check out 
            a(href='https://www.wsj.com/news/collection/coronavirus-6dcf2a21' target='_blank') The Wall Street Journal
        p (This link will open in a new tab)
        img(src='/images/heatmap.jpg' alt='Heatmap of China during the coronavirus pandemic' style='width:20%' class='img-thumbnail') 

    h4 Time to quiz your knowledge: 

    div(style='transform: scale(0.65); position: relative; top: -100px;')
        h3 Does this resource offer a variety of perspectives? (Coverage)
        p Choose 1 answer
        hr
        #block-31(style='padding: 10px;')
            label(for='option-31' style=' padding: 5px; font-size: 2.5rem;')
                input#option-31(type='radio' name='option' value='Yes' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         Yes
            span#result-31
        hr
        #block-32(style='padding: 10px;')
            label(for='option-32' style=' padding: 5px; font-size: 2.5rem;')
                input#option-32(type='radio' name='option' value='Somewhat' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         Somewhat
            span#result-32
        hr
        #block-33(style='padding: 10px;')
            label(for='option-33' style=' padding: 5px; font-size: 2.5rem;')
                input#option-33(type='radio' name='option' value='No' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         No
            span#result-33
        hr
        button(type='button' onclick='displayAnswer3()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;') Submit
    a#showanswer3
    script(type='text/javascript').
        function displayAnswer3() {
            if (document.getElementById('option-31').checked) {
            document.getElementById('block-31').style.border = '3px solid red'
            document.getElementById('result-31').style.color = 'red'
            document.getElementById('result-31').innerHTML = 'Incorrect!'
            } 
            if (document.getElementById('option-32').checked) {
            document.getElementById('block-32').style.border = '3px solid limegreen'
            document.getElementById('result-32').style.color = 'limegreen'
            document.getElementById('result-32').innerHTML = 'Correct!'
            showCorrectAnswer3()
                }
            if (document.getElementById('option-33').checked) {
            document.getElementById('block-33').style.border = '3px solid red'
            document.getElementById('result-33').style.color = 'red'
            document.getElementById('result-33').innerHTML = 'Incorrect!'
            showCorrectAnswer3()	
            }
        }
        // the functon displays the link to the correct answer
        function showCorrectAnswer3() {
            let showAnswer3 = document.createElement('p')
            showAnswer3.innerHTML = 'Show Correct Answer'
            showAnswer3.style.position = 'relative'
            showAnswer3.style.top = '-180px'
            showAnswer3.style.fontSize = '1.75rem'
                document.getElementById('showanswer3').appendChild(showAnswer3)
                showAnswer3.addEventListener('click', () => {
                document.getElementById('block-32').style.border = '3px solid limegreen'
            document.getElementById('result-32').style.color = 'limegreen'
            document.getElementById('result-32').innerHTML = 'Correct!'
            document.getElementById('showanswer3').removeChild(showAnswer3)    
            })
            }

    center 
        h4 The Wall Street Journal offers articles that tend to be moderate to conservative in perspective. 
        h4 It can be helpful to check the overall political motives of a resource with this site: 
        a(href='https://mediabiasfactcheck.com/wall-street-journal/' target='_blank') Media Bias Fact Check

    br
    h4 Well done! Let's learn how to tell if a resource offers information that's accurate or not. 

    center
        h2 Check out this article from  
            a(href='https://www.wired.co.uk/article/5g-coronavirus-conspiracy-theory' target='_blank') WIRED
        p (This link will open in a new tab.)
        img(src='/images/tower.jpg' alt='Cloudy cell phone tower' style='width:20%' class='img-thumbnail')

    h2 Great! 

    h4 Time to quiz your knowledge: 

    div(style='transform: scale(0.65); position: relative; top: -100px;')
        h3 What would you do to verify that the information presented in this article is accurate? (Accuracy)
        p Choose an answer
        hr
        #block-51(style='padding: 10px;')
            label(for='option-51' style=' padding: 5px; font-size: 2.5rem;')
                input#option-51(type='radio' name='option' value='6/24' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         Follow the links provided and establish the credibility of those resources. 
            span#result-51
        hr
        #block-52(style='padding: 10px;')
            label(for='option-52' style=' padding: 5px; font-size: 2.5rem;')
                input#option-52(type='radio' name='option' value='6' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         Research who funds this resource. 
            span#result-52
        hr
        #block-53(style='padding: 10px;')
            label(for='option-53' style=' padding: 5px; font-size: 2.5rem;')
                input#option-53(type='radio' name='option' value='1/3' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;')
                |         Search for frequently occurring keywords and read articles that also include them. 
            span#result-53
        hr
        button(type='button' onclick='displayAnswer4()' style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;') Submit
    a#showanswer4
    script(type='text/javascript').
        function displayAnswer4() {
            if (document.getElementById('option-51').checked) {
            document.getElementById('block-51').style.border = '3px solid limegreen'
            document.getElementById('result-51').style.color = 'limegreen'
            document.getElementById('result-51').innerHTML = 'Correct!'
            showCorrectAnswer4()
            } 
            if (document.getElementById('option-52').checked) {
            document.getElementById('block-52').style.border = '3px solid limegreen'
            document.getElementById('result-52').style.color = 'limegreen'
            document.getElementById('result-52').innerHTML = 'Correct!'
            showCorrectAnswer4()
                }
            if (document.getElementById('option-53').checked) {
            document.getElementById('block-53').style.border = '3px solid limegreen'
            document.getElementById('result-53').style.color = 'limegreen'
            document.getElementById('result-53').innerHTML = 'Correct!'
            showCorrectAnswer4()
            }
        }

        function showCorrectAnswer4() {
            let showAnswer4 = document.createElement('p')
            showAnswer4.innerHTML = 'Show Correct Answer'
            showAnswer4.style.position = 'relative'
            showAnswer4.style.top = '-180px'
            showAnswer4.style.fontSize = '1.75rem'
                document.getElementById('showanswer4').appendChild(showAnswer4)
                showAnswer4.addEventListener('click', () => {

                document.getElementById('block-14').style.border = '3px solid limegreen'
            document.getElementById('result-14').style.color = 'limegreen'
            document.getElementById('result-14').innerHTML = 'Correct!'
            document.getElementById('showanswer4').removeChild(showAnswer4)    
            })
            }    
    center
         h3 These are all good methods of confirming whether or not a resource presents accurate information. 

         h3 Thanks for playing the Game of Reputable Resources!! 

         h3 If you'd like to dive further into research on COVID-19 or any topic, the University of Washington offers an in-depth guide on how to conduct research with links to articles and journals on a huge variety of topics. 

         a(href='https://www.lib.washington.edu/types' target='_blank') University of Washington Research Guide

    br

    h2 Remember to keep an eye out for these features in any resource that claims authority on a subject: 

    ul 
    h3 Accuracy 
    ul Does this source validate information that can be found elsewhere, from other sources that are credible? Remember that jargon, or the use of technical language, does not necessarily mean the source is credible.
    h3 Authority
    ul Check the URL of the website: does it end in .gov, .org, .net, or .edu? Some of those endings can influence the perspective of the information the website hosts. 
    ul Does this source cite other reputable sources?
    h3 Currency 
    ul How recent is the information hosted on this site? 
    ul Since there are so many innovations surrounding COVID-19, check that the source is dated within the last few months to be sure they are hosting the most up-to-date information. 
    h3 Coverage 
    ul Does the source offer information that is relevant to what you’re looking for? 
