* {
  box-sizing: border-box;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 10px; 
  padding: 10px;
}

.table {
  display: flex; 
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  justify-content: center; 
}

.img {
  display: flex; 
  flex-wrap: wrap-reverse;
  flex-direction: column-reverse;
  justify-content: center; 
}


.button-container {
  display: flex;
  margin-top: 5px;
  justify-content: space-around;
  color: darkblue;
}

.btn-primary {
  background-color: #00008b;
  width: 48%;
}

.btn-secondary {
  width: 48%;
}
